/* CONTENEDOR DE LA VISTA DENTRO DE main-content */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* Usa todo el espacio disponible */
  width: 100%;
  background-color: #d9d9d9;
}

/* CUADRO DEL FORMULARIO */
.form-box {
  background-color: white;
  padding: 120px 60px;
  border-radius: 20px;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

/* TÍTULO */
.form-box h1 {
  font-size: 25px;
  margin-bottom: 45px;
  color: #000;
}

/* CAMPO DE MONTO */
input[type="number"] {
  background-color: #b9d6f2;
  border: 1px solid #b1c7d8;
  border-radius: 10px;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  margin-bottom: 20px;
  color: #003f6f;
}

/* BOTÓN DE ENVÍO */
button[type="submit"] {
  background-color: #fff59e;
  color: #000;
  border: none;
  border-radius: 10px;
  padding: 12px 30px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #ffe36e;
}

/* MENSAJES DE VALIDACIÓN */
.error {
  color: red;
  margin-bottom: 10px;
}

.message {
  color: green;
  margin-bottom: 10px;
}
