body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: url("/images/background.png");
  background-size: cover;
}

.auth-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border-radius: 8px;
  background-color: #f3f3f3;
}

.auth-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  gap: 15px;
}

.auth-box label {
  font-weight: bold;
  align-self: self-start;
}

.auth-box input {
  padding: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.auth-box button {
  font-size: 15px;
  justify-self: center;
  padding: 12px 25px;
  background-color: #73a7da;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.auth-box button:hover {
  background-color: #003f6f;
}

.auth-links {
  text-align: center;
  font-size: 20px;
}

.auth-links a {
  color: #007bff;
  text-decoration: none;
}

.error {
  color: red;
}
.message {
  color: green;
}
