<!DOCTYPE html>
<html>
  <head>
    <title>Wink</title>
    <link rel="stylesheet" href="/css/header.css?v=<%= Time.now.to_i %>">
    <% if @custom_css %>
      <link rel="stylesheet" href="<%= @custom_css %>?v=<%= Time.now.to_i %>">
    <% end %>
    <link rel="icon" href="/images/logo2.png" type="image/png">
  </head>
  <body>
    <header class="auth-header">
      <div class="auth-header-content">
        <img src="/images/logo2.png" alt="Logo de Wink" />
      </div>
    </header>

    <main class="main-content">
      <%= yield %>
    </main>
  </body>
</html>