<head>
  <title>Ingreso</title>
  <link rel="stylesheet" href="/css/income.css?v=<%= Time.now.to_i %>">
</head>
<body>
  <div class="main-container">
    <div class="form-box">
      <h1>Indique la cantidad de dinero a ingresar</h1>

      <% if @error %>
        <p class="error"><%= @error %></p>
      <% end %>

      <% if @message %>
        <p class="message"><%= @message %></p>
      <% end %>

      <form action="/income" method="post">
        <input type="number" name="amount">
        <button type="submit">Ingresar</button>
      </form>
    </div>
  </div>
</body>
