<head>
    <title>Ingreso</title>
<head>
<body>
    <h1>Indique la cantidad de dinero a ingresar</h1>
    <form action="/income" method="post">
        <input type= "number" name="amount" required>
        <br>
        <br>
        <button type = "submit"> Ingresar </button>
    </form>
<body>
