<!DOCTYPE html>
<html>
  <head>
    <title>Wink</title>
  </head>
  <body>
    <header>
      <h1>Wink</h1>
      <nav>
        <a href="/home">Home</a> |
        <a href="/income">Ingresar Dinero</a> |
        <a href="/transfer">Transferir Dinero</a> |
        <a href="/my_saving">Ver ahorros</a> |
        <a href="/promos">Ver Promociones</a> |
        <a href="/discounts">Ver Descuentos</a> |
        <a href="/exchange">Intercambiar Puntos</a> |
        <a href="/logout">Log Out</a>
        <% if current_user&.admin_check %>
          | <a href="/manage_incomes">Gestionar Ingresos Pendientes</a>
        <% end %>
      </nav>
      <hr>
    </header>
    <%= yield %>
  </body>
</html>