<head>
    <title>Log in</title>
<head>
<body>
    <h1>Indique su Usuario y Contraseña</h1>
    <% if @error %>
        <p style="color: red;"><%= @error %></p>
    <% end %>
    <% if @message %>
        <p style="color: green;"><%= @message %></p>
    <% end %>
    <form action="/" method="post">
        <label> Usuario: <input type= "text" name="username" required></label>
        <br>
        <br>
        <label> Contraseña: <input type= "password" name= "password" required></label>
        <br>
        <br>
        <button type = "submit"> Ingresar </button>
        <br>
        <br>
        <a href = "/forgot">¿Olvidaste tu contraseña?</a>
        <br>
        <br>
        <p>¿No tenes cuenta?</p>
        <a href = "/register">Registrate</a>
    </form>
<body>