<head>
    <title>New saving</title>    
    <link rel="stylesheet" href="/css/new_saving.css">

<head>

<body>
    
  <div class="new-saving-wrapper">
    <div class="new-saving-header">
      <h2>Nuevo ahorro</h2>
    </div>
    
    <% if @error %>
        <p style="color: red;"><%= @error %></p>
    <% end %>
    <% if @message %>
        <p style="color: green;"><%= @message %></p>
    <% end %>
     <form action="/new_saving" method="post">
     <label> Nombre del ahorro: <input type= "text" name="description" required></label>
        <br>
        <br>
    <label>Monto meta:</label>
    <input type="number" name="goal_amount" required>
    <br>
    <br>

    
    <button type = "submit">Crear ahorro</button>
   </form>
<body>