<head>
    <title>New saving</title>
<head>

<body>
    <h1>Nuevo ahorro</h1>
     <form action="/new_saving" method="post">
     <label> Nombre del ahorro: <input type= "text" name="description" required></label>
        <br>
        <br>
    <label>Monto meta:</label>
    <input type="number" name="goal_amount" required>
    <br>
    <br>
    <button type = "submit">Crear ahorro</button>
   </form>
<body>